#container {
  display: flex;
}

#results {
  margin: 0;
  margin-top: 10vh;
}

#facets {
  margin-top: 10vh;
  margin-right: 10vh;
}

.result {
  padding-right: 10px;
}

#searchbar {
  border: solid;
  border-radius: 10px;
  left: 10vh;
  height: 3vh;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
